services:
  traefik-socket:
    container_name: traefik-socket
    image: ghcr.io/wollomatic/socket-proxy:1.11.2@sha256:ed3843d15ac2eb1379018b5f7e93eb3be564d8bb4b3a0e56e998d14dfcd6fa7f
    labels:
      folder.view2: Ingress
      net.unraid.docker.icon: ${SECRET_APPDATA}/icons/docker-socket.png
    user: 65534:281
    read_only: true
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges
    command:
      - '-loglevel=debug'
      - '-shutdowngracetime=5'
      - '-watchdoginterval=600'
      - '-stoponwatchdog'
      - '-allowfrom=traefik'
      - '-listenip=0.0.0.0'
      - '-allowGET=/v1\..{1,2}/(version|containers/.*|events.*)'
      - '-allowHEAD=/_ping'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - traefik-socket
    restart: always
