services:
  traefik:
    depends_on:
      - traefik-socket
    container_name: traefik
    image: traefik:v3.6.7@sha256:ebe7d3fc715e28f033cea8265e9105b9d64705867f5b916e2d9ed0b62c530192
    ports:
      - 192.168.1.50:80:8000
      - 192.168.1.50:443:8443
    volumes:
      - "${SECRET_APPDATA}/traefik:/etc/traefik/"
    labels:
      folder.view2: Ingress
      net.unraid.docker.icon: ${SECRET_APPDATA}/icons/traefik.png
      traefik.enable: true
      traefik.docker.network: homelab_webserver-internal
      traefik.http.routers.api.rule: Host(`traefik.${SECRET_DOMAIN}`)
      traefik.http.routers.api.entryPoints: websecure
      traefik.http.routers.api.service: api@internal
      traefik.http.routers.api.middlewares: authelia@file

    environment:
      TZ: ${TZ}
      TRAEFIK_GLOBAL_CHECKNEWVERSION: false
      TRAEFIK_GLOBAL_SENDANONYMOUSUSAGE: false
      TRAEFIK_LOG: true
      TRAEFIK_LOG_LEVEL: INFO
      #TRAEFIK_ACCESSLOG: false
      TRAEFIK_API: true
      TRAEFIK_API_DASHBOARD: true
      TRAEFIK_API_INSECURE: true
      TRAEFIK_PING: true
      TRAEFIK_PING_ENTRYPOINT: traefik
      TRAEFIK_CERTIFICATESRESOLVERS_OVH: true
      TRAEFIK_CERTIFICATESRESOLVERS_OVH_ACME_DNSCHALLENGE: true
      TRAEFIK_CERTIFICATESRESOLVERS_OVH_ACME_DNSCHALLENGE_PROVIDER: ovh
      TRAEFIK_CERTIFICATESRESOLVERS_OVH_ACME_DNSCHALLENGE_RESOLVERS: "dns17.ovh.net:53,ns17.ovh.net:53"
      TRAEFIK_CERTIFICATESRESOLVERS_OVH_ACME_EMAIL: ${SECRET_EMAIL}
      TRAEFIK_CERTIFICATESRESOLVERS_OVH_ACME_STORAGE: /etc/traefik/acme.json
      OVH_APPLICATION_KEY: ${SECRET_OVH_APPLICATION_KEY}
      OVH_APPLICATION_SECRET: ${SECRET_OVH_APPLICATION_SECRET}
      OVH_CONSUMER_KEY: ${SECRET_OVH_CONSUMER_KEY}
      OVH_ENDPOINT: ovh-eu
      TRAEFIK_SERVERSTRANSPORT_INSECURESKIPVERIFY: true
      TRAEFIK_ENTRYPOINTS_WEB: true
      TRAEFIK_ENTRYPOINTS_WEB_ADDRESS: ":8000"
      TRAEFIK_ENTRYPOINTS_WEB_HTTP_REDIRECTIONS_ENTRYPOINT_SCHEME: https
      TRAEFIK_ENTRYPOINTS_WEB_HTTP_REDIRECTIONS_ENTRYPOINT_TO: websecure
      TRAEFIK_ENTRYPOINTS_WEBSECURE: true
      TRAEFIK_ENTRYPOINTS_WEBSECURE_ADDRESS: ":8443"
      TRAEFIK_ENTRYPOINTS_WEBSECURE_HTTP_TLS: true
      TRAEFIK_ENTRYPOINTS_WEBSECURE_HTTP_TLS_CERTRESOLVER: ovh
      TRAEFIK_ENTRYPOINTS_WEBSECURE_HTTP_TLS_DOMAINS_0_MAIN: ${SECRET_DOMAIN}
      TRAEFIK_ENTRYPOINTS_WEBSECURE_HTTP_TLS_DOMAINS_0_SANS: "${SECRET_DOMAIN},*.${SECRET_DOMAIN}"
      TRAEFIK_ENTRYPOINTS_WEBSECURE_HTTP_TLS_OPTIONS: default
      TRAEFIK_ENTRYPOINTS_WEBSECURE_HTTP_MIDDLEWARES: secure-headers@file
      TRAEFIK_PROVIDERS_PROVIDERSTHROTTLEDURATION: 2s
      TRAEFIK_PROVIDERS_DOCKER: true
      TRAEFIK_PROVIDERS_DOCKER_WATCH: true
      TRAEFIK_PROVIDERS_DOCKER_ENDPOINT: "tcp://traefik-socket:2375"
      TRAEFIK_PROVIDERS_DOCKER_EXPOSEDBYDEFAULT: false
      TRAEFIK_PROVIDERS_FILE_WATCH: true
      TRAEFIK_PROVIDERS_FILE_FILENAME: /etc/traefik/configFile.yaml
    networks:
      - traefik-socket
      - webserver-internal
      - gluetun
      - lldap-internal
      - hassio-front
      - authelia
      - drone-front
      - immich-front
      - vaultwarden
      - backrest
      - tools
      - media
    restart: always
    healthcheck:
      test: ["CMD", "traefik", "healthcheck", "--ping"]
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 5s
