services:
  hassio-esphome:
    container_name: hassio-esphome
    image: ghcr.io/esphome/esphome:2025.12.0@sha256:af4ec57b5b22ddce60736f61f67b9855d0bb84e1f4d0f490ae630cd02c83aeb4
    labels:
      folder.view2: Hassio
      net.unraid.docker.icon: ${SECRET_APPDATA}/icons/esphome.png
    volumes:
      - "${SECRET_APPDATA}/hassio/esphome:/config"
    environment:
      TZ: ${TZ}
    networks:
      - hassio-net
    restart: always
