services:
  hassio-esphome:
    container_name: hassio-esphome
    image: ghcr.io/esphome/esphome:2026.1.4@sha256:c6d4a461cb479b953bb9f6f4fb7844dc06ec8efd94c84fcb6d221597b54f24a9
    labels:
      folder.view2: Hassio
      net.unraid.docker.icon: ${SECRET_APPDATA}/icons/esphome.png
    volumes:
      - "${SECRET_APPDATA}/hassio/esphome:/config"
    environment:
      TZ: ${TZ}
    networks:
      - hassio-net
    restart: always
